.slider {
  width: 100%;
  height: 540px;
  overflow: hidden;
}

.slides {
  display: block;
  width: 9999px;
  height: 540px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.slide {
  float: left;
  height: 540px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
