// Font stacks
$font-family--primary: 'Roboto', Georgia, Times, 'Times New Roman', serif;
$font-family--secondary: 'Roboto Mono', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// Font weights
$font-weight--bold: 700;

// Body copy
$base__font-size: 16px;
$base__line: 24px;
$base__line--headings: 16px;

// Grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;

// Header
$header-height: 40px;

// Breakpoints
$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1100px;
