// Create BEM element selectors
@mixin e($element) {
	&__#{$element} {
    @content;
  }
}

// Create BEM modifier selectors
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Calculate grid columns
@mixin g-columns {
  @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    // Generate column modifier classes
    &--#{$i} {
      width: percentage($target / $context);
    }
  }
}

// Triagnle generator
@mixin triangle($direction, $size, $color) {
	@if $direction == "up" {
		width: 0;
		height: 0;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	} @elseif $direction == "down" {
			width: 0;
			height: 0;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size solid $color;
	} @elseif $direction == "left" {
			width: 0;
			height: 0;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right: $size solid $color;
	} @elseif $direction == "right" {
			width: 0;
			height: 0;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-left: $size solid $color;
	} @else {
		@error "'#{$direction}' is not a valid direction.";
	}
}

// Media queries
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint-md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  }
   @else {
   	@error "'#{$break}' is not a valid breakpoint."
  }
}

// Apply styles to all but first of selected element
@mixin not-first() {
	& + & {
    @content;
	}
}

// Flexbox
@mixin flex-parent() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@mixin flex-child() {
	-ms-flex: 1 0 auto;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

// Transform
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Hardware acceleration
@mixin accelerate() {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

// Prevent text selection
@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
