// Container styles
.grid {
  @extend %clearfix;
  margin: 1em auto;
  width: 90%;

  // Make nested grid 100%
  [class*="grid__col--"] > & {
    width: 100%;
  }

  // Set a max-width for grid container
  @include mq(large) {
    max-width: $g-cont-max-w;
  }
}

// Switch to grid layout at medium breakpoint
.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}

// Column styles
[class^="grid__col--"] {
  @include mq(small)  {
    margin-top: 1em;
  }
  @include mq(medium) {
    @include not-first() {
      margin-left: percentage($g-gutter-width / $context);
    }
    float: left;
    min-height: 1px;
    padding-left: 1em;
    padding-right: 1em;
    &:last-of-type {
      float: right;
    }
  }
}
