.snzysldr-loader-overlay {
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  width: 100%;
  transition: opacity .5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.snzysldr-loader-container {
  height: 75px;
  width: 60px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.snzysldr-block1, .snzysldr-block2, .snzysldr-block3, .snzysldr-block4 {
  height: 50px;
  width: 12px;
  background-color: white;
  display: inline-block;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
}

@-webkit-keyframes blockMove {
  to { -webkit-transform: translateY(0); }
}

@keyframes blockMove {
  to {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.snzysldr-block1 {
  -webkit-animation: blockMove .5s ease infinite alternate;
  animation: blockMove .5s ease infinite alternate;
}

.snzysldr-block2 {
  -webkit-animation: blockMove .5s ease .08s infinite alternate;
  animation: blockMove .5s ease .08s infinite alternate;
}

.snzysldr-block3 {
  -webkit-animation: blockMove .5s ease .16s infinite alternate;
  animation: blockMove .5s ease .16s infinite alternate;
}

.snzysldr-block4 {
  -webkit-animation: blockMove .5s ease .24s infinite alternate;
  animation: blockMove .5s ease .24s infinite alternate;
}
