/* Begin Custom Styles
   ========================================================================== */
/**
 * Base Styles
 */
html, body {
  height: 100%;
}

body {
  font-size: $base__font-size;
  font-family: $font-family--primary;
}

h1, h2, h3, h4, p, * {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--secondary;
}

h1 {
  font-size: 2.125em;
  margin-bottom: .125em;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
  font-size: 1.125em;
}

.site-header {
  background-color: $black;
  color: $white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  font-size: .625em;
  height: $header-height;
  @include e(items) {
    height: 100%;
    padding: 0 2em;
    max-width: 1080px;
    margin: 0 auto;
    & a {
      display: block;
      float: right;
      position: relative;
      z-index: 5;
    }
    & h1, & a {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

footer {
  color: $medium-grey;
  font-size: .75em;
  text-align: center;
  padding: 0 .75em;
  & p {
    padding: 1.25em 0;
    display: inline-block;
  }
  & p:first-child {
    padding-bottom: 0;
  }
  & p:last-child {
    padding-top: .25em;
  }
}
