* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  background-color: $body__background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--secondary;
  line-height: ($base__line--headings/$base__font-size);
}
